configuration{
    modi: "menu:rofi-power-menu,run,drun,window,calc";
    icon-theme: "Gruvbox";
    show-icons: false;
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    display-run: "";
    display-window: "󰎠";
    display-calc: "󰃬";
    sidebar-mode: true;
}


@theme "/home/user/.local/share/rofi/themes/gruvbox.rasi"
